<html>
    <head>
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/chat.css">
    </head>
    <body>
        <div class="home-chat d-flex justify-content-center align-items-center">
            <div class="container-chat overflow-hidden">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <div class="logo">
                            <img src="../img/LOGO-02.png" alt="">
                        </div>
                      <div>
                        <a class="navbar-brand" href="#">WannaHide</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      </div>
                      <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
                        <ul class="navbar-nav linksIcon mb-2 mb-lg-0">
                            <li class="nav-item" id="contactClick">
                                <i class="fa-regular fa-id-badge"></i>
                                <a class="nav-link" href="#" >Contact</a>
                              </li>
                          <li class="nav-item" id="chatClick">
                            <i class="fa-brands fa-rocketchat"></i>
                            <a class="nav-link" href="#" >Chats</a>
                          </li>
                          <li class="nav-item d-flex position-relative">
                            <i class="fa-solid fa-plus"></i>
                            <a class="nav-link" href="#" id="addClick">Add user</a>
                            <form id="addFriend" class=" form-add position-absolute ">
                                <input type="text" class="inputAdd">
                                <input type="submit" hidden>
                            </form>
                        </li>


                        </ul>
                      </div>
                      <div class="profile  d-flex align-content-sm-center" id="img-menu">
                        <div class="img-profile  position-relative">
                            <img src="../img/<%= locals.user?.photo %>" alt="background">
                            <div class="sub-menu-wrap  position-absolute" id="menu">
                                <div class="sub-menu ">
                                    <div class="user-info d-flex align-items-center ">
                                        <img src="../img/<%= locals.user?.photo %>" alt="" >
                                        <h2 ><%= locals.user?.username %></h2>
                                    </div>
                                    <hr>
                                    <a href="#" class="sub-menu-links" id="setting">
                                        <i class="fa-solid fa-gear"></i>                                            
                                        <p>Settings & Privacy</p>
                                    </a>
                                    <a href="#" class="sub-menu-links">
                                        <i class="fa-solid fa-circle-question"></i>                                            
                                        <p>Help & Support</p>
                                    </a>
                                    <a href="/logout" class="sub-menu-links">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>                                            
                                        <p>Log Out</p>
                                    </a>
                                </div>

                            </div>  
                        </div>
                      </div>
                    </div>
                </nav>
                <div class="chat-contact container-fluid p-0 ">
                    <div class="row gx-0">
                        <div class="col-md-4">
                            <div class="contacts " id="contactHide">
                                <!-- Search -->
                                <div class="searchName position-relative d-flex justify-content-center align-items-center">
                                    <div class="search-content w-100">
                                        <input type="text" placeholder="Search">
                                        <i class="fa-solid fa-magnifying-glass position-absolute mt-1 "></i>
                                    </div>
                                </div>
                                <!-- End Search -->
                                <div class="contact-list">
                                    <div class="requst d-flex position-relative"name="request">
                                        <div class="w-100 " id="btn-request">
                                            <div class="name name-request d-flex justify-content-between disabled">
                                                <h4 class="px-4 py-2 fs-4 text-white disabled" >Requests</h4>
                                                <!-- <p class="time disabled"></p>      -->
                                            </div>
                                            <div class="d-flex mb-2 bg-white justify-content-between position-absolute bottom-0 end-0">
                                                <b class="text-dark bg-white"><%= locals.requests %></b>
                                            </div>
                                        </div>
                                    </div>
                                    <% for( let i =0; i < locals.chats?.length; i++ ) { %>
                                        <% var otherUser = locals.chats[i].users[0]._id.toString()==locals.user._id? locals.chats[i].users[1] : locals.chats[i].users[0]%>

                                    <div class="contact d-flex " name="contacts"  id="<%= locals.chats[i]._id %>">
                                        <div class="img-contact disabled">
                                            <img src="../img/<%= otherUser?.photo %>" alt="background" class="cover ">
                                        </div>
                                        <div class="details w-100 disabled ">
                                            <div class="name d-flex justify-content-between disabled">
                                                <h4 ><%= otherUser?.username %></h4>
                                                <% if(locals.chats[i].updatedAt) {%>
                                                <p class="time disabled "><%= new Date(locals.chats[i].updatedAt).toLocaleString("en-EG",{hour12:true,hour:"numeric",minute:"2-digit"}) %></p>
                                                <% } %>
                                            </div>
                                            <div class="massage-p d-flex justify-content-between disabled">
                                                <% if(locals.chats[i].latestMessage) {%>

                                                <p><%=  locals.chats[i].latestMessage %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                 
                                </div>
                            </div>
                        </div>
                        <div id="chat-id" class="col-md-8">
                            <div class="chat-message position-relative" id="chatHide">
                                <div class="header d-flex justify-content-between align-items-center">
                                    <div id="chatNav" class="img-text  position-relative d-flex justify-content-center align-items-center">
                                       
                                    </div>
                                </div>
                                <!-- Chat Box -->
                                <div class="chat-box " id="chatBox">
                                    <div class="massage myMassage">
                                        <p>
                                            <img src="../img/default.png" alt="">
                                             <br> 
                                             <span>08:55</span>
                                        </p>
                                       </div>
                                  
                                </div>
                                <div class="boximage">
                                    <div class="img-box d-flex justify-content-center align-items-center">
                                        <div class="image">
                                            <i class="fa-solid fa-xmark" id="exit"></i>
                                            <img src="/img/default.png" alt="" id="upload-img">
                                        </div>
                                    </div>
                                </div>
                                <!-- Chat Input -->
                                <form id="formMessage">
                                <div class="chatBox-input d-flex justify-content-between align-items-center">
                                    <label  for="fileupload"><i id="iconUpload" class="fa-solid fa-paperclip"></i></label>
                                    <input type="file" id="fileupload" accept="image/*">
                                    <input type="text" sender="<%= locals.user._id %>"placeholder="Type a massage">
                                    <input type="submit"  hidden >
                                    <i class="fa-solid fa-circle-arrow-right"></i>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="col-md-8" id="requests-friend">
                            <div class="container">                
                                <div class="card requests">
                                    <div class="card-header" id="Requests">
                                        <h5 class="card-title disabled">Requests</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="cart-container">
                                            <table class="table table-borderless table-striped">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th scope="col" >User-Name</th>                                               
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody  class="text-center" id="reqBod">
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="container" id="profile">
                        <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="card h-100 ">
                            <div class="card-body  d-flex justify-content-center align-items-center">
                                <div class="account-settings">
                                    <div class="user-profile  ">
                                        <div>
                                            <div class="user-avatar text-center">
                                                <img src="../img/<%= locals.user?.photo %>" alt="Maxwell Admin">
                                            </div>
                                            <h5 class="user-name"><%= locals.user?.username %></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 mt-3" style="color: #A74B94;">Change Password</h6>
                                    </div>
                                  <form id="update-pass"> 
                                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group ">
                                            <label for="eMail">old password</label>
                                            <input type="password" class="form-control" id="eMail" placeholder="Enter old password" >
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="eMail">New password</label>
                                            <input type="password" class="form-control" id="eMail" placeholder="New password">
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="eMail">Repeat password</label>
                                            <input type="password" class="form-control" id="eMail" placeholder="Repeat password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-secondary" onclick="document.getElementById('update-pass').reset()">Cancel</button>
                                            <button type="button" id="submit" name="submit" class="btn text-white" style="background-color: #A74B94;">Change Password</button>
                                        </div>
                                    </div>
                                </div>
                             </form>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>








    <script src="../javascript/jquery-3.6.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="../javascript/bootstrap.bundle.min.js"></script> 
    <script type="module" src="../javascript/Script2.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <script type="module" src="../javascript/chat.js"></script> -->

  
    </body>
</html>