<html>
    <head>
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/chat.css">
    </head>
    <body>
        <div class="home-chat d-flex justify-content-center align-items-center">
            <div class="container-chat overflow-hidden">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                      <div>
                        <a class="navbar-brand" href="#">WannaHide</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      </div>
                      <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
                        <ul class="navbar-nav linksIcon mb-2 mb-lg-0">
                            <li class="nav-item" id="contactClick">
                                <i class="fa-regular fa-id-badge"></i>
                                <a class="nav-link" href="#" >Contact</a>
                              </li>
                          <li class="nav-item" id="chatClick">
                            <i class="fa-brands fa-rocketchat"></i>
                            <a class="nav-link" href="#" >Chats</a>
                          </li>
                          <li class="nav-item">
                            <i class="fa-solid fa-plus"></i>
                            <a class="nav-link" href="#"id="addClick">add user</a>
                            <input type="text" class="inputAdd">
                          </li>


                        </ul>
                      </div>
                      <div class="profile d-flex align-content-sm-center" id="img-menu">
                        <h4 class="text-white fs-6 me-3 mt-1"><%= locals.user.username %></h4>
                        <div class="img-profile position-relative">
                            <img src="../img/<%= locals.user.photo %>" alt="background">
                            <div class="sub-menu-wrap position-absolute" id="menu">
                                <div class="sub-menu">
                                    <div class="user-info d-flex align-items-center ">
                                        <img src="../img/IMG-20210702-WA0006.jpg" alt="" >
                                        <h2 >Abdel-Rahmen Fathy</h2>
                                    </div>
                                    <hr>
                                    <a href="#" class="sub-menu-links" id="setting">
                                        <i class="fa-solid fa-gear"></i>                                            
                                        <p>Settings & Privacy</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub-menu-links">
                                        <i class="fa-solid fa-circle-question"></i>                                            
                                        <p>Help & Support</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub-menu-links">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>                                            
                                        <p>Log Out</p>
                                        <span>></span>
                                    </a>
                                </div>

                            </div>  
                        </div>
                      </div>
                    </div>
                </nav>
                <div class="chat-contact container-fluid p-0 ">
                    <div class="row gx-0">
                        <div class="col-md-4">
                            <div class="contacts" id="contactHide">
                                <!-- Search -->
                                <div class="searchName position-relative d-flex justify-content-center align-items-center">
                                    <div class="search-content w-100">
                                        <input type="text" placeholder="Search">
                                        <i class="fa-solid fa-magnifying-glass position-absolute mt-1 "></i>
                                    </div>
                                </div>
                                <!-- End Search -->
                                <div class="contact-list">
                                    <% for( let i =0; i < locals.chats?.length; i++ ) { %>
                                        <% var otherUser = locals.chats[i].users[0]._id.toString()==locals.user._id? locals.chats[i].users[1] : locals.chats[i].users[0]%>

                                    <div class="contact  d-flex " name="contacts"  id="<%= locals.chats[i]._id %>">
                                        <div class="img-contact disabled">
                                            <img src="../img/<%= otherUser?.photo %>" alt="background" class="cover ">
                                        </div>
                                        <div class="details w-100 disabled ">
                                            <div class="name d-flex justify-content-between disabled">
                                                <h4 ><%= otherUser?.username %></h4>
                                                <% if(locals.chats[i].updatedAt) {%>
                                                <p class="time disabled "><%= new Date(locals.chats[i].updatedAt).toLocaleString("en-EG",{hour12:true,hour:"numeric",minute:"2-digit"}) %></p>
                                                <% } %>
                                            </div>
                                            <div class="massage-p d-flex justify-content-between disabled">
                                                <% if(locals.chats[i].latestMessage) {%>

                                                <p><%=  locals.chats[i].latestMessage %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                 
                                </div>
                            </div>
                        </div>
                        <div id="chat-id" class="col-md-8 ">
                            <div class="chat-message position-relative" id="chatHide">
                                <div class="header d-flex justify-content-between align-items-center">
                                    <div id="chatNav" class="img-text  position-relative d-flex justify-content-center align-items-center">
                                       
                                    </div>
                                <!-- Nav Bar -->
                                    <ul class="navIcon d-flex">
                                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                    </ul> 
                                </div>
                                <!-- Chat Box -->
                                <div class="chat-box" id="chatBox">

                                  
                                </div>
                                <!-- Chat Input -->
                                <form id="formMessage">
                                <div class="chatBox-input d-flex justify-content-between align-items-center">
                                    <i class="fa-regular fa-face-smile"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <input type="text" sender="<%= locals.user._id %>"placeholder="Type a massage">
                                    <input type="submit"  hidden >
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="col-md-12 bg-danger" id="profile">
                            <h1>Edit The Profile</h1>
                            <div class="row">
                                <div class="col-md-4 bg-info">
                                    <div class="imgPro">
                                        <img src="../img/client-3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>








    <script src="../javascript/jquery-3.6.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="../javascript/bootstrap.bundle.min.js"></script> 
    <script src="../javascript/Script2.js"></script>
    <!-- <script type="module" src="../javascript/chat.js"></script> -->

  
    </body>
</html>